---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import { ReceiptManager } from '../components/functional/ReceiptManager';
---

<Layout title="Smart Receipts | AI Scanner">
	<div class="min-h-screen bg-slate-50 px-4 pb-20">
		<div class="max-w-5xl mx-auto">
		  <Header />
		  <main>
			<ReceiptManager client:load />
		  </main>
		</div>
	  </div>
</Layout>
